Index do Usuario

lista de usuarios utilizando tab table

criar uma tabela com dados fake de usuarios
ja cadastrados

login
nome
ativo ou nao (checkbox)

<table class="table">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Nome</th>
            <th scope="col">Email</th>
            <th scope="col">User</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <th scope="row">1</th>
            <td>Douglas</td>
            <td>dougllaz@hotmail.com</td>
            <td>douglas150</td>
        </tr>
        <tr>
            <th scope="row">2</th>
            <td>Jacob</td>
            <td>Thornton</td>
            <td>jac789</td>
        </tr>
        <tr>
            <th scope="row">3</th>
            <td>Carlos</td>
            <td>Loke</td>
            <td>car289</td>
        </tr>
        <tr>
            <th scope="row">4</th>
            <td>Bruno</td>
            <td>Garcia</td>
            <td>bruh2323</td>
        </tr>
    </tbody>
</table>